{% load static %}

<div class="order_box">
    <h2>Your Order</h2>
    <ul class="list">
        <li>
            <a href="#">Product
                <span>Total</span>
            </a>
        </li>
        {% for cart in carts %}
            <li>
                <a href="#">{{ cart.product.name }}
                    <span class="middle">x {{ cart.quantity }}</span>
                    <span class="last">₽{{ cart.products_price }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <strong >Total</strong>
    <ul class="list list_2">
        <li>
            <a href="#">Total: x {{ carts.total_quantity }}
                <span>₽{{ carts.total_price }}</span>
            </a>
        </li>
    </ul>
    {% comment %} <div class="payment_item">
        <div class="radion_btn">
            <input type="radio" id="f-option5" name="selector" />
            <label for="f-option5">Check payments</label>
            <div class="check"></div>
        </div>
        <p>
            Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
        </p>
    </div>
    <div class="payment_item active">
        <div class="radion_btn">
            <input type="radio" id="f-option6" name="selector" />
            <label for="f-option6">Paypal </label>
            <img src="{% static "img/product/single-product/card.jpg" %}" alt="" />
            <div class="check"></div>
        </div>
        <p>
            Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
        </p>
    </div>
    <div class="creat_account">
        <input type="checkbox" id="f-option4" name="selector" />
        <label for="f-option4">I’ve read and accept the </label>
        <a href="#">terms & conditions*</a>
    </div> {% endcomment %}
    <div class="d-flex justify-content-between">
        <a class="btn_3 mt-4" style="background-color: #32CD32;border:0" href="{% url "user:users_cart" %}">Change</a>  <!-- Изменён фон кнопки -->
        <a class="btn_3 mt-4" href="">Buy</a>
    </div>    
</div>
